/* common styles */
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
}
.txt-primary{
    color: #FF4240;
}

.p-cl{
   color: rgba(19, 19, 24, 0.60);
}

/* flex section related css */

.hockey-1{
    background-image:
    linear-gradient(to bottom, #13131880 , #13131880),
    url("images/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.hockey-2{
    background-image:
    linear-gradient(to bottom, #13131880 , #13131880),
    url("images/3.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.hockey-3{
    background-image:
    linear-gradient(to bottom, #13131880 , #13131880),
    url("images/4.png");
    background-repeat: no-repeat;
    background-size: cover;

}
/* flex section end */

/* price section related css */

.product-mart{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}
.product-mart p{
    width:25px;
    margin-right: 8px;
    text-align: left;
    flex-grow: unset;
}
.card-hover:hover{
    scale: calc(1.05);
    cursor: pointer;
    transition: 400ms;
}
.box-border{
    border: 2px solid rgba(19, 19, 24, 0.10);
}
/* price section css end */

/* equipment section related css */
.mail-box{
    border: 2px solid rgba(19, 19, 24, 0.10);
}
.social-box{
    border: 2px solid rgba(19, 19, 24, 0.10);
}